In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter

In [19]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from imblearn.ensemble import BalancedRandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.datasets import make_classification

# Read the CSV and Perform Basic Data Cleaning

In [4]:
# https://help.lendingclub.com/hc/en-us/articles/215488038-What-do-the-different-Note-statuses-mean-

columns = [
    "loan_amnt", "int_rate", "installment", "home_ownership",
    "annual_inc", "verification_status", "issue_d", "loan_status",
    "pymnt_plan", "dti", "delinq_2yrs", "inq_last_6mths",
    "open_acc", "pub_rec", "revol_bal", "total_acc",
    "initial_list_status", "out_prncp", "out_prncp_inv", "total_pymnt",
    "total_pymnt_inv", "total_rec_prncp", "total_rec_int", "total_rec_late_fee",
    "recoveries", "collection_recovery_fee", "last_pymnt_amnt", "next_pymnt_d",
    "collections_12_mths_ex_med", "policy_code", "application_type", "acc_now_delinq",
    "tot_coll_amt", "tot_cur_bal", "open_acc_6m", "open_act_il",
    "open_il_12m", "open_il_24m", "mths_since_rcnt_il", "total_bal_il",
    "il_util", "open_rv_12m", "open_rv_24m", "max_bal_bc",
    "all_util", "total_rev_hi_lim", "inq_fi", "total_cu_tl",
    "inq_last_12m", "acc_open_past_24mths", "avg_cur_bal", "bc_open_to_buy",
    "bc_util", "chargeoff_within_12_mths", "delinq_amnt", "mo_sin_old_il_acct",
    "mo_sin_old_rev_tl_op", "mo_sin_rcnt_rev_tl_op", "mo_sin_rcnt_tl", "mort_acc",
    "mths_since_recent_bc", "mths_since_recent_inq", "num_accts_ever_120_pd", "num_actv_bc_tl",
    "num_actv_rev_tl", "num_bc_sats", "num_bc_tl", "num_il_tl",
    "num_op_rev_tl", "num_rev_accts", "num_rev_tl_bal_gt_0",
    "num_sats", "num_tl_120dpd_2m", "num_tl_30dpd", "num_tl_90g_dpd_24m",
    "num_tl_op_past_12m", "pct_tl_nvr_dlq", "percent_bc_gt_75", "pub_rec_bankruptcies",
    "tax_liens", "tot_hi_cred_lim", "total_bal_ex_mort", "total_bc_limit",
    "total_il_high_credit_limit", "hardship_flag", "debt_settlement_flag"
]

target = ["loan_status"]

In [5]:
# Load the data
file_path = Path('LoanStats_2019Q1.csv')
df = pd.read_csv(file_path, skiprows=1)[:-2]
df = df.loc[:, columns].copy()

# Drop the null columns where all values are null
df = df.dropna(axis='columns', how='all')

# Drop the null rows
df = df.dropna()

# Remove the `Issued` loan status
issued_mask = df['loan_status'] != 'Issued'
df = df.loc[issued_mask]

# convert interest rate to numerical
df['int_rate'] = df['int_rate'].str.replace('%', '')
df['int_rate'] = df['int_rate'].astype('float') / 100


# Convert the target column values to low_risk and high_risk based on their values
x = {'Current': 'low_risk'}   
df = df.replace(x)

x = dict.fromkeys(['Late (31-120 days)', 'Late (16-30 days)', 'Default', 'In Grace Period'], 'high_risk')    
df = df.replace(x)

df.reset_index(inplace=True, drop=True)

df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

# Split the Data into Training and Testing

In [6]:
# Create our features
X = df.apply(LabelEncoder().fit_transform)

# Create our target
y = X["loan_status"]

In [7]:
X.describe()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
count,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.000000,...,68817.000000,68817.000000,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,572.296903,12.982577,4126.615168,1.812779,3294.087856,0.669994,0.805542,0.994958,0.0,1962.376855,...,367.820219,57.069314,0.125972,0.0,27710.412107,24184.046704,295.617696,19966.952715,0.0,0.0
std,375.779218,9.508701,2367.621789,0.941313,1574.576387,0.719105,0.714932,0.070831,0.0,971.922012,...,67.053040,55.878931,0.336732,0.0,17546.728857,14497.653994,257.292302,13661.709989,0.0,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000,0.0,0.0
25%,289.000000,5.000000,2153.000000,1.000000,1930.000000,0.000000,0.000000,1.000000,0.0,1255.000000,...,347.000000,0.000000,0.000000,0.0,12014.000000,11764.000000,116.000000,7895.000000,0.0,0.0
50%,516.000000,11.000000,3828.000000,1.000000,3365.000000,1.000000,1.000000,1.000000,0.0,1842.000000,...,409.000000,48.000000,0.000000,0.0,26735.000000,23056.000000,221.000000,18429.000000,0.0,0.0
75%,848.000000,20.000000,5967.000000,3.000000,4665.000000,1.000000,1.000000,1.000000,0.0,2532.000000,...,409.000000,101.000000,0.000000,0.0,42861.000000,36149.000000,393.000000,31243.000000,0.0,0.0
max,1397.000000,51.000000,8809.000000,3.000000,6089.000000,2.000000,2.000000,1.000000,0.0,5695.000000,...,409.000000,155.000000,4.000000,0.0,59628.000000,51997.000000,1715.000000,46898.000000,0.0,0.0

In [9]:
# Check the balance of our target values
y.value_counts()

1    68470
0      347
Name: loan_status, dtype: int64

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

# Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble AdaBoost classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Print the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier onely, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [21]:
# Resample the training data with the BalancedRandomForestClassifier
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

rf_model = BalancedRandomForestClassifier(n_estimators=100, random_state=78)
rf_model.fit(X_train_scaled, y_train)

BalancedRandomForestClassifier(random_state=78)

In [22]:
predictions = rf_model.predict(X_test_scaled)

In [25]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, y_pred)

0.5

In [24]:
# Display the confusion matrix
y_pred = rf_model.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[    0,    92],
       [    0, 17113]])

In [26]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.00      0.00      1.00      0.00      0.00      0.00        92
          1       0.99      1.00      0.00      1.00      0.00      0.00     17113

avg / total       0.99      0.99      0.01      0.99      0.00      0.00     17205

In [27]:
# List the features sorted in descending order by feature importance
importances = rf_model.feature_importances_
importances
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.45528599882824317, 'loan_status'),
 (0.051325063018302516, 'last_pymnt_amnt'),
 (0.047463831209173434, 'total_rec_prncp'),
 (0.045353633760507016, 'total_pymnt'),
 (0.03901613350392146, 'total_rec_int'),
 (0.033585278396774595, 'total_pymnt_inv'),
 (0.013206711262997283, 'int_rate'),
 (0.011533149343971745, 'issue_d'),
 (0.010269296813277533, 'bc_util'),
 (0.009984583964002189, 'dti'),
 (0.009399077585560271, 'total_bc_limit'),
 (0.00852224027543233, 'annual_inc'),
 (0.008388056581892052, 'mths_since_recent_inq'),
 (0.008142445698222157, 'il_util'),
 (0.007837156734553643, 'revol_bal'),
 (0.007788535437345393, 'installment'),
 (0.007636688613278245, 'mo_sin_old_il_acct'),
 (0.007358799929634814, 'max_bal_bc'),
 (0.006965903579338858, 'bc_open_to_buy'),
 (0.006940026519610346, 'out_prncp'),
 (0.006912332891633095, 'mo_sin_old_rev_tl_op'),
 (0.0068083386298052615, 'total_bal_ex_mort'),
 (0.0067651181102421866, 'out_prncp_inv'),
 (0.006656892407395125, 'avg_cur_bal'),
 (0.006502872732871827, 'tot_hi_cred_lim'),
 (0.005719622017556168, 'num_bc_tl'),
 (0.005708452903361719, 'total_rev_hi_lim'),
 (0.005659767751234658, 'total_bal_il'),
 (0.0055550651985681095, 'tot_cur_bal'),
 (0.005402351363150307, 'loan_amnt'),
 (0.005368043401986441, 'num_actv_bc_tl'),
 (0.005345643114614161, 'total_cu_tl'),
 (0.005137048749028845, 'inq_last_6mths'),
 (0.004968514439353287, 'mo_sin_rcnt_tl'),
 (0.004709318730336914, 'mo_sin_rcnt_rev_tl_op'),
 (0.004681883374930219, 'total_acc'),
 (0.0046662315378993915, 'num_il_tl'),
 (0.004637919360532647, 'num_actv_rev_tl'),
 (0.00458229669291139, 'num_rev_accts'),
 (0.004569158116368855, 'num_sats'),
 (0.004555557905551514, 'mths_since_rcnt_il'),
 (0.004472824144409395, 'num_bc_sats'),
 (0.004347804492528852, 'total_il_high_credit_limit'),
 (0.004263777588577924, 'mths_since_recent_bc'),
 (0.004199115023715147, 'inq_last_12m'),
 (0.004112303629639685, 'num_tl_op_past_12m'),
 (0.004108064260403216, 'all_util'),
 (0.004027332374287008, 'acc_open_past_24mths'),
 (0.0038939655080613323, 'open_rv_24m'),
 (0.0037526471208435067, 'total_rec_late_fee'),
 (0.003678039672796426, 'next_pymnt_d'),
 (0.0035674289473026136, 'pct_tl_nvr_dlq'),
 (0.003557189213851755, 'open_il_24m'),
 (0.003519311861856596, 'inq_fi'),
 (0.0034646647227755687, 'num_rev_tl_bal_gt_0'),
 (0.003429261942117569, 'num_op_rev_tl'),
 (0.003234224604685068, 'percent_bc_gt_75'),
 (0.003231621089179777, 'open_acc'),
 (0.003085861432367118, 'mort_acc'),
 (0.003005553658484722, 'open_acc_6m'),
 (0.002546319578064976, 'delinq_2yrs'),
 (0.0025347228068604583, 'open_act_il'),
 (0.0023574520480470155, 'verification_status'),
 (0.00219371028015114, 'open_rv_12m'),
 (0.0017612050250631205, 'num_accts_ever_120_pd'),
 (0.001361725913316355, 'home_ownership'),
 (0.0013477505391133026, 'open_il_12m'),
 (0.0011063086355867751, 'pub_rec'),
 (0.0008062913312729988, 'tot_coll_amt'),
 (0.0007090757401338428, 'initial_list_status'),
 (0.0006486674609476458, 'pub_rec_bankruptcies'),
 (0.0004632094073296384, 'application_type'),
 (0.00029752946085837603, 'num_tl_90g_dpd_24m'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag'),
 (0.0, 'collections_12_mths_ex_med'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'chargeoff_within_12_mths'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble AdaBoost Classifier

In [28]:
# Train the EasyEnsembleClassifier
from sklearn.ensemble import AdaBoostClassifier
clf = AdaBoostClassifier(n_estimators=100, random_state=0)
clf.fit(X_train_scaled, y_train)

AdaBoostClassifier(n_estimators=100, random_state=0)

In [32]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, y_pred)

0.5

In [30]:
# Display the confusion matrix
y_pred = clf.predict(X_test)
confusion_matrix(y_test, y_pred)

array([[    0,    92],
       [    0, 17113]])

In [33]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred))

                   pre       rec       spe        f1       geo       iba       sup

          0       0.00      0.00      1.00      0.00      0.00      0.00        92
          1       0.99      1.00      0.00      1.00      0.00      0.00     17113

avg / total       0.99      0.99      0.01      0.99      0.00      0.00     17205